@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Fira Code Variable', monospace;

  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
